<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Passengers List</title>
<style>
	table {
  		border-collapse: collapse;
  		width:80%;
  		margin:auto
	}
	
	h2{
		text-align:center;
	}
	
	table, th, td {
		padding: 5px;	
	  	border: 1px solid black;
	  	text-align:center;
	}
</style>
</head>
<body>
<h2>List of Passengers</h2>
<hr>
<br>
<table>
	<tr>
		<th>Passenger Id</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Address</th>
		<th>City</th>
		<th>Country</th>
		<th>Telephone</th>
		<th>Email</th>
		<th>View Passenger Details</th>
		<!--<th>Delete</th>-->
	</tr>
	
	<tr th:each="passenger : ${passengers}">
		<td th:text="${passenger.getPassengerId()}"></td>
        <td th:text="${passenger.getFirstName()}"></td>
        <td th:text="${passenger.getLastName()}"></td>
        <td th:text="${passenger.getAddress()}"></td>
        <td th:text="${passenger.getCity()}"></td>
        <td th:text="${passenger.getCountry()}"></td>
        <td th:text="${passenger.getTelephone()}"></td>
        <td th:text="${passenger.getEmail()}"></td>
        <td><a th:href="@{/view-passenger/{passengerId}(passengerId=${passenger.getPassengerId()})}" href="#">View details</a></td> 
        <!--  <td><a th:href="@{/delete-passenger/{passengerId}(passengerId=${passenger.getPassengerId()})}" href="#">Delete</a></td>    -->  
	</tr>
</table>
</body>
</html>